workflows/9999 - DT - Default Error Logger_RJ8frH4jbs8ohrXk.json
{
  "id": "RJ8frH4jbs8ohrXk",
  "name": "9999 - DT - Default Error Logger",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -224,
        112
      ],
      "id": "f9ac82be-2579-43bf-afe3-d2f201b0d442",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1iKP281JRul16R-3RjNqH-IR8hKfx2ExEP8CJcWvIrCg",
          "mode": "list",
          "cachedResultName": "00 - Dhimahi - Tools Used - Master List",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iKP281JRul16R-3RjNqH-IR8hKfx2ExEP8CJcWvIrCg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 220144427,
          "mode": "list",
          "cachedResultName": "Automation-Errors",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iKP281JRul16R-3RjNqH-IR8hKfx2ExEP8CJcWvIrCg/edit#gid=220144427"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Workflow ID": "={{ $json.workflow.id }}",
            "Workflow Name": "={{ $json.workflow.name }}",
            "Execution ID": "={{ $json.execution.id }}",
            "Error Message": "=Message: {{ $json.execution.error.message }}\nStack: {{ $json.execution.error.stack }}",
            "Mode": "={{ $json.execution.mode }}",
            "Execution URL": "={{ $json.execution.url }}",
            "Execution RetryOf": "={{ $json.execution.retryOf }}",
            "Last Node Executed": "={{ $json.execution.lastNodeExecuted }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Workflow ID",
              "displayName": "Workflow ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Workflow Name",
              "displayName": "Workflow Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Execution ID",
              "displayName": "Execution ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error Message",
              "displayName": "Error Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mode",
              "displayName": "Mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Execution URL",
              "displayName": "Execution URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Execution RetryOf",
              "displayName": "Execution RetryOf",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Node Executed",
              "displayName": "Last Node Executed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        0,
        -48
      ],
      "id": "d5e6d753-fe45-4517-a1f0-09bc69ef3061",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "M0ft8cPDNeYdJlX8",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "8344013169",
        "text": "=**ERROR in N8N WORKFLOW** \n\nERROR: {{ $json.execution.error.message }} WORKFLOW: {{ $json.workflow.name }}  \n\nLINK:{{ $json.execution.url }}",
        "additionalFields": {
          "appendAttribution": true
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        16,
        240
      ],
      "id": "74797d6f-2b0f-4cad-ad25-7b093707e190",
      "name": "Send a text message",
      "webhookId": "02ec6de3-7dbe-42da-a3a7-65c1df8fc224",
      "credentials": {
        "telegramApi": {
          "id": "34gH47JSyKzpw4DA",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1422160098381398100",
          "mode": "list",
          "cachedResultName": "Dhimahi Technolabs",
          "cachedResultUrl": "https://discord.com/channels/1422160098381398100"
        },
        "channelId": {
          "__rl": true,
          "value": "1422188187639611434",
          "mode": "list",
          "cachedResultName": "n8n-workflow-errors",
          "cachedResultUrl": "https://discord.com/channels/1422160098381398100/1422188187639611434"
        },
        "content": "=**ERROR in N8N WORKFLOW**\nERROR: {{ $json.execution.error.message }}\nWORKFLOW: {{ $json.workflow.name }}\n\nLINK:{{ $json.execution.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        64,
        96
      ],
      "id": "ef4a12d4-d649-43a5-8760-d47711e68da9",
      "name": "Send a message",
      "webhookId": "caa956fa-391e-431d-bd1f-f82fead5bb0b",
      "credentials": {
        "discordOAuth2Api": {
          "id": "pmOjLgKud35pSCgT",
          "name": "Discord account"
        }
      }
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "createdAt": "2025-09-29T05:59:44.465Z",
  "updatedAt": "2025-09-29T12:25:24.000Z",
  "tags": [
    {
      "createdAt": "2025-09-29T05:59:41.528Z",
      "updatedAt": "2025-09-29T05:59:41.528Z",
      "id": "4A7ZpG9TpRhXOdTW",
      "name": "Telegram"
    },
    {
      "createdAt": "2025-09-29T05:59:41.542Z",
      "updatedAt": "2025-09-29T05:59:41.542Z",
      "id": "BAhebpisMjYyD1Nd",
      "name": "Google Sheets"
    },
    {
      "createdAt": "2025-09-29T12:25:21.662Z",
      "updatedAt": "2025-09-29T12:25:21.662Z",
      "id": "q4EqSmbOTvnxQcSS",
      "name": "Discord"
    }
  ]
}